POSTGRES_DB=assetly
POSTGRES_USER=assetly
POSTGRES_PASSWORD=replace-with-a-strong-database-password
POSTGRES_PORT=5432

JWT_SECRET=replace-with-at-least-48-bytes-of-random-secret-material
JWT_ACCESS_TOKEN_EXPIRES_IN=3600
FRONTEND_PORT=3000
