# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# Env
.env
.env.*
!.env.example

# Frontend
node_modules/
.next/
out/
dist/
coverage/
playwright-report/
test-results/
login-desktop.png
login-mobile.png

# Backend
build/
target/
.gradle/

# Java
*.class

# Docker
docker-data/
